<div class="widget about">
  <h3 class="title">About</h3>
  <ul class="entry">
  <li>
  孙浩然,网名Shuenhoy,浩然正气<br/>
  初中生编程爱好者<br/>
  目前在莱州市云峰中学学习<br/>
  Email: shuenhoy [at] gmail.com
  <iframe scrolling="no" width="182" height="27" frameborder="0" allowtransparency="true" marginheight="0" marginwidth="0" src="http://follow.v.t.qq.com/index.php?c=follow&amp;a=quick&amp;name=shuenhoy&amp;style=4&amp;t=1364635078114&amp;f=1"></iframe>
  </li>
  </ul>
  
</div>
