<div class="widget ads">
  <h3 class="title">ads</h3>
  
 <script type="text/javascript"><!--
google_ad_client = "ca-pub-0664246015329161";
/* 博客广告2 */
google_ad_slot = "6665713668";
google_ad_width = 250;
google_ad_height = 250;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
  
</div>
