<div class="widget visitor">
  <h3 class="title">最近评论</h3>
  <div class="entry">
  <ul class="ds-recent-comments" data-num-items="5" data-excerpt-length="0"></ul>
  </div>
</div>

<div class="widget visitor">
  <h3 class="title">最近访客</h3>
  <div class="entry">
  <ul class="ds-recent-visitors" data-num-items="5"></ul>
  </div>
</div>
